<div class="homeLogo">
    <a href="../home/home.html"><img src="../../images/whitelogo.png" alt="park logo" width="75" height="75"></a>
</div>
<div>
    <a href="#Tickets">Tickets</a>
    <a href="#Rides">Rides</a>
    <a href="../zone/zone.html">Zones</a>
    <a href="#Extras">Extras</a>
    <a href="#Login">Login</a>
</div>

<style>
    .navbar{
        background-color: #2d394b;
        font-size: large;
        padding: 0 1em;
        word-spacing: 2em;
        align-items: center;
        display: flex;
    }
    .navbar a{
        color: rgb(255, 248, 237);
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2rem;
    }
    .homeLogo{
        padding-right: 1em;
    }
</style>
