.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 0 30px;
    background-color: #91c3c2;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 80px;
    position: fluid;
    top: 20px;  
    left: 50%;
   

}

.navbar-logo{
   text-decoration: none;
   color: #fff;
   padding: 0.7rem 1rem;
   white-space: nowrap;
}