/* cover style */
.admin-edit-body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.admin-edit-cover{
    background-color: white;
    width: 50em;
    height: min-content;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.1em .5em #9c9c9c;
    display: block;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

@keyframes colorWave {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

.admin-edit-title{
    font-size: 1.7em;
    position: relative;
    display: inline-block;
    overflow: hidden;
    background-image: linear-gradient(to right, black, #c3a3ff);
    background-size: 200% 100%;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    animation: colorWave 4s ease-in-out infinite;
}

/* form style */
.select-modify-option{
    height: 3em;
    width: 20em;
    border: none;
    border-radius: 1em;
    color: black;
    font-size: 0.8em;
    text-align: center;
    background-color: rgb(229, 226, 226);
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 1em;
}
.select-modify-option:hover {
    background-color: #F9F5EB;
    transform: scale(1.02);
    box-shadow: 0 0 5px rgba(170, 119, 255, 0.7), 0 0 10px rgba(170, 119, 255, 0.5), 0 0 15px rgba(170, 119, 255, 0.3);
}
.option-input-img{
    margin-bottom: 1em;
}
/* submit button */
.admin-modify-button{
    width: 20%;
    height: 2.8em;
    background-color: #0c0c0c;
    color: white;
    border: none;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
    margin: 2em auto .2em;
}
.admin-modify-button:hover {
    transform: scale(1.05);
    background-color: #c3a3ff;
}